<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make your complaine</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="home.css">
</head>
<body >
    <header>
        <div class="container">
            <nav>
                <img src="logo.png" class="logo" alt="">
                <div class="links">
                    <a href="#"> Home </a>
                    <a href="#"> fetures </a>
                    <a href="#"> support </a>
                    <a href="#"> Auhtority</a>
                    <a href="#"> contact</a>
                    <a href="#" class="last_btn"> Get Support </a>
                </div>
            </nav>

            <div class="slider">
                <div class="slide">
                    <div class="left">
                        <h1>One Single App To All Your Complains</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet., iste impedit quo. Neque laudantium eligendi ipsum?</p>
                        <div class="form"> 
                            <button type="submit" onclick="window.location.href = './user_details';">Make a Video</button>
                            <button type="submit" onclick="window.location.href = './complaint';">Report an issue</button>
                        </div>
                        <!-- <h5>30 days money back guarantee</h5> -->
                    </div>
                    <div class="right">
                        <img src="home.jpg" class="main_img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="app.js"></script>
</body>
</html>