<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display:grid;row-gap:20px">
        <% data.forEach(function(user){ %>
        <div style="display: flex;column-gap: 10px;">
              <p><%= user[1] %></p>
              <p><%= user[2] %></p>
              <form method="post" action="/admin/buttons">
              <button type="submit" name="submit" id="submit" value="<%= user[0] %>">See Video</button></form>
        </div>
        <% }) %>
    </div>
</body>
</html>